@model RFahWebsite.Models.MasterModel
@using RFahWebsite.Data.DAL;
<div class="mega-container visible-lg visible-md">
    <div class="navleft-container">
        <div class="mega-menu-title"><h3>Category</h3></div>
        <div class="mega-menu-category">
            <ul class="nav">
                @if (Model.CategoryList != null && Model.CategoryList.Count() > 0)
                {
                    foreach (var item in Model.CategoryList)
                    {
                        <li>
                            @if (item.ParentId == null)
                            {
                                /**/<a href="@Url.Action("CategoryDetails","Category",new { CatId=item.Id})">@item.Name  </a>
                            }

                            <div class="wrap-popup">
                                <div class="popup">
                                    
                                    <div class="row">
                                        @if (Model.BrandList.Where(m => m.CatId == item.Id).Any())
                                        {
                                        <div class="col-md-3">
                                            <h3>Pouplar Brands</h3>
                                            <ul class="nav">

                                                @foreach (var brand in Model.BrandList.Where(m => m.CatId == item.Id))
                                                {
                                                    <li><a href="#">@brand.Name</a></li>

                                                }

                                            </ul>
                                        </div>
                                        }


                                        <div class="col-md-3 has-sep">
                                            <h3>accessories</h3>
                                            <ul class="nav">
                                                <li><a href="#">Demo Content</a></li>

                                            </ul>
                                        </div>
                                        <div class="col-md-6 has-sep">
                                            <div class="custom-menu-right">
                                                <div class="box-banner media">
                                                    <div class="media-body">
                                                        <h3>bags &amp; cases</h3>
                                                        <div class="price-sale">40 <sup>%</sup><sub>off</sub></div>
                                                        <a href="http://www.plazathemes.com/">&gt;shop now</a>
                                                    </div>
                                                    <div class="media-right"> <img src="~/Content/WebsiteAsset/images/products/img-01.jpg" alt=""></div>
                                                </div>
                                                <div class="box-banner media">
                                                    <div class="media-body">
                                                        <h3>Lens Fulters</h3>
                                                        <div class="price-sale">50 <sup>%</sup><sub>off</sub></div>
                                                        <a href="http://www.plazathemes.com/">&gt;shop now</a>
                                                    </div>
                                                    <div class="media-right"> <img src="~/Content/WebsiteAsset/images/products/img-02.jpg" alt=""></div>
                                                </div>
                                                <div class="box-banner media">
                                                    <div class="media-body">
                                                        <h3>Flashes</h3>
                                                        <div class="price-sale">30 <sup>%</sup><sub>off</sub></div>
                                                        <a href="http://www.plazathemes.com/">&gt;shop now</a>
                                                    </div>
                                                    <div class="media-right"> <img src="~/Content/WebsiteAsset/images/products/img-03.jpg" alt=""></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            @*<a href="#" class="ads"><img alt="" src="~/Content/WebsiteAsset/images/ads/ads-08.jpg" class="img-responsive"></a>*@

                        </li>


                    }
                }


                <li>
                    <a href="#">Tablet</a>
                    <div class="wrap-popup column1">
                        <div class="popup">
                            <h3>brand</h3>
                            <ul class="nav">
                                <li><a href="#">canon</a></li>
                                <li><a href="#">samsung</a></li>
                                <li><a href="#">nikon</a></li>
                                <li><a href="#">apple</a></li>
                                <li><a href="#">toshiba</a></li>
                                <li><a href="#">hp</a></li>
                                <li><a href="#">nokia</a></li>
                                <li><a href="#">Sony</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nosub"><a href="#">Electtronic</a></li>
                <li class="nosub"><a href="#">New arrivals</a></li>
                <li class="nosub"><a href="#">Bestseller</a></li>
                <li class="more-menu"><a href="#">Bags &amp; Cases</a></li>
                <li class="more-menu"><a href="#">Accessories</a></li>
                <li class="view-more"><a href="#">More category</a></li>
            </ul>
        </div>
    </div>
</div>

