@model RFahWebsite.Models.MasterModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";



}

<h2>@ViewBag.UserIp</h2>
<div class="col-sm-12 col-right">

    <div id="SearchQueryResult">
        <div id="SearchLoader" style="display:none;margin:auto" class="text-center">
            <img src="~/Content/WebsiteAsset/images/AjaxLoader.gif" height="100" width="150" class="img-responsive center-block" />
        </div>
        <div id="SearchContent">

        </div>
    </div>

    <div class="featuredproductslider-container">
        <div class="title-group1"><h2>Featured Brand</h2></div>
        <div id="featured-products" class="owl-container">
            <div class="owl">
                @foreach (var item in Model.BrandList)
                {
                    <div class='productslider-item item'>
                        <div class="item-inner">
                            <div class="images-container">
                                <div class="product_icon">
                                    <div class='new-icon'><span>new1</span></div>
                                </div>
                                <a href="@Url.Action("Brandproduct", "Home", new { Brandid = item.Id })" title="Nunc facilisis" class="product-image">
                                    <img src="~/Content/WebsiteAsset/images/products/8.jpg" alt="Nunc facilisis" />
                                </a>
                                <div class="box-hover">
                                    <ul class="add-to-links">
                                        <li><a href="#" class="link-quickview">Quick View2</a></li>
                                        <li><a href="#" class="link-wishlist">Add to Wishlist3</a></li>
                                        <li><a href="#" class="link-compare">Add to Compare4</a></li>
                                        <li><a href="#" class="link-cart">Add to Cart5</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="des-container">
                                <h2 class="product-name"><a href="@Url.Action("Brandproduct", "Home", new { Brandid = item.Id })" title="Nunc facilisis">@item.Name.ToUpper()</a></h2>
                                <div class="price-box">
                                    <p class="special-price">
                                        <span class="price-label">Special Price</span>
                                        <span class="price">$169.99</span>
                                    </p>
                                    <p class="old-price">
                                        <span class="price-label">Regular Price: </span>
                                        <span class="price">$189.00</span>
                                    </p>
                                </div>
                                <div class="ratings">
                                    <div class="rating-box">
                                        <div class="rating" style="width:67%"></div>
                                    </div>
                                    <span class="amount"><a href="#">3 Review(s)</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div><!-- /.featuredproductslider-container -->

    @{
        Html.RenderAction("SubBanner");

    }


    <div id="NewArrival">
        <div id="loader1" style="display:none;margin:auto" class="text-center">
            <img src="~/Content/WebsiteAsset/images/AjaxLoader.gif" height="100" width="150" class="img-responsive center-block" />
        </div>
        @{
            //Html.RenderAction("NewArrival");
        }
    </div>

    <div class="row">
        <div class="col-smc-7">
            <div class="banner">
                <a href="#"><img alt="" src="~/Content/WebsiteAsset/images/ads/ads-06.jpg"></a>
            </div>
        </div>
        <div class="col-smc-5">
            <div class="banner">
                <a href="#"><img alt="" src="~/Content/WebsiteAsset/images/ads/ads-07.jpg"></a>
            </div>
        </div>
    </div>
    <div id="RandomProduct">
        <div id="loader2" style="display:none;:auto" class="text-center">
            <img src="~/Content/WebsiteAsset/images/AjaxLoader.gif" height="100" width="150" class="img-responsive center-block" />
        </div>
        @{
            // Html.RenderAction("RandomProduct");
        }
    </div>

</div><!-- /.col-right -->

