
@model RFahWebsite.Models.MasterModel

<style>
    .ui-autocomplete{
        z-index:100;
    }
    .ui-select {
        display: block;
    }

    .ui-select * {
        font-size: 18px;
    }
    /* This is to remove the arrow of select element in IE */
    select::-ms-expand {
        display: none;
    }

    select {
        -webkit-appearance: none;
        appearance: none;
    }

    -moz-document url-prefix() {
        .ui-select

    {
        border: 1px solid #CCC;
        border-radius: 4px;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
    }

    .ui-select select {
        width: 110%;
        background-position: right 30px center !important;
        border: none !important;
    }
    }
</style>
<div class="brands">
    <div class="container">
        <div class="title-group1">
            <h2>popular brand</h2>
        </div>
        <div id="brands" class="owl-container">
            <div class="owl">
                @foreach (var item in Model.BrandList)
                {
                    <div class="col-sm-3">
                        <div class='item'>
                            <div class="item-innner">
                                <a href="#" title="" class="text-center">
                                    <img src="~/Content/WebsiteAsset/images/brand/logo_brand5.png" alt="" /><br />@item.Name
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>


    </div>
</div><!-- /.brands -->