@model RFahWebsite.Models.MasterModel
<ul class="menu clearfix visible-lg visible-md">

    @foreach (var item in Model.CategoryList)
    {

        <li class=" "><a href="@Url.Action("CategoryDetails","Category",new { CatId=item.Id})">@item.Name</a></li>
    }
    @*<li class="active"><a href="#">Home</a></li>
        <li><a href="#">Computer</a></li>
        <li><a href="#">camera</a></li>
        <li><a href="#">smart phone</a></li>
        <li><a href="#">electtronic</a></li>
        <li><a href="#">new arrivals</a></li>*@
</ul>
